# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages on Data Science
- List commonly used libraries used on Data Science
- List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Juniper
3. R
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. PostgreSQL
2. Microsoft SQL Server
3. MySQL
4. SQLite
5. IBM Db2

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Tableau|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python
5+5

5*5

(2,5+6)*8

31/3

In [18]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [39]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Alberto Gil